<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.parkyoungcheol.minigame">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/kpuworl_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/kpuworl_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".loadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".mentalCal.mentalCal" />
        <activity android:name=".mentalCal.mentalCalsub" />
        <activity android:name=".Exit" />
        <activity android:name=".imageMatch.imageMatch" />
        <activity android:name=".imageMatch.imageMatchsub" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home" />
        <activity android:name=".game3" />
        <activity android:name=".game3index" />
        <activity android:name=".game4.game4" />
        <activity android:name=".game4.game4" />
        <activity android:name=".game4" />
    </application>

</manifest>